NODE_ENV=development
PORT=5000
DATABASE_URL=your_database_url_here
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=your_better_auth_url_here
JWT_SECRET=your-secret-key
ACCESS_TOKEN_EXPIRATION=1d
REFRESH_TOKEN_EXPIRATION=7d
EMAIL_SMTP_HOST=your_email_smtp_host_here
EMAIL_SMTP_PORT=your_email_smtp_port_here
EMAIL_SMTP_SECURE=your_email_smtp_secure_here
EMAIL_SMTP_USER=your_email_smtp_user_here
EMAIL_SMTP_PASS=your_email_smtp_pass_here